VITE_SUPABASE_URL=https://jrvkjsbksefdebhqmwms.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_m3kSNKxvx6WGWYhVL9uorg_f1YLBAF-
KIMI_API_KEY=
KIMI_BASE_URL=https://integrate.api.nvidia.com/v1
KIMI_MODEL=meta/llama-3.1-8b-instruct
